.gameContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    155deg,
    #ffffff,
    #a1adde,
    #0a2398,
    #5a219d,
    #2336c9,
    #48028d
  );
}

.numberGuessTitle,
.numberGuessWrapper,
#inputField,
.numberGuessContainer,
.numberGuessDigit,
.numberGuessValidate,
#validateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberGuessWrapper {
  flex-direction: column;
}

#inputField {
  height: 56px;
  width: 277px;
  border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
  background-color: white;
}

.digitWrapper {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(5, 80px);
  justify-content: center;
}
#digit0 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.numberGuessDigit,
.numberGuessValidate {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: linear-gradient(127deg, #ff98d7, #2c46be);
  border: white solid 3px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.numberGuessValidate {
  width: 100px;
  height: 44px;
  border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
  font-size: 1rem;
}

#validateBtn {
  align-items: flex-end;
  grid-column: 1/4;
  grid-row: 5/6;
}
