#Pseudo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 30px;
    padding-top: 50%;
}

#inputName {
    background-color: rgb(52, 52, 250);
    color: white;
}

#Pseudo button {
    margin: 10px 0;
    padding: 5px;
    border-radius: 30px;
    border: 1px black solid;
}

#Pseudo input {
    width: 
}